<form #form="ngForm">
  <div class="grid mt-3">
      <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <input type="text" id="cnpj" name="cnpj" pInputText
                  ngModel />
              <label for="cnpj">Cnpj</label>
          </span>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
            <input type="text" id="razao_social" name="razao_social" pInputText ngModel />
            <label for="razao_social">Razão Social</label>
        </span>
    </div>

    <div class="field col-12 md:col-4">
      <span class="p-float-label">
          <input type="text" id="nome_fantasia" name="nome_fantasia" pInputText ngModel />
          <label for="nome_fantasia">Nome Fantasia</label>
      </span>
  </div>

      <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <input type="text" id="logradouro" name="logradouro" pInputText ngModel />
              <label for="logradouro">Logradouro</label>
          </span>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
            <input type="text" id="numero" name="numero" pInputText ngModel />
            <label for="numero">Número</label>
        </span>
    </div>

      <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <input type="text" id="complemento" name="complemento" pInputText ngModel />
              <label for="complemento">Complemento</label>
          </span>
      </div>

      <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <input type="text" id="municipio" name="municipio" pInputText ngModel />
              <label for="municipio">Município</label>
          </span>
      </div>

      <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <input type="text" id="uf" name="uf" pInputText ngModel />
              <label for="uf">Estado</label>
          </span>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
            <input type="text" id="ddd_telefone_1" name="ddd_telefone_1" pInputText ngModel />
            <label for="ddd_telefone_1">Telefone</label>
        </span>
    </div>


  </div>
</form>