@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

html {
  background-color: #ffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  /* color: #333; */
  box-sizing: border-box;
}

main {
  margin-top: 90px;
}

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

h6 {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-left: 6px;
  margin-bottom: 2px;
  color: #121212;
}

h5 {
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-left: 6px;
  margin-bottom: 2px;
  color: #ffffff;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #121212;
  color: white;
  font-weight: 600;
}

.p-disabled,
.p-component:disabled {
  opacity: 1;
}